<script>
import { PageContentable } from '../page'
import Requestable from 'mixins/requestable'
import Request from 'api/request'
import SmartList from '../../components/smart-list'
import ObjectListItem from 'list-items/object-list-item'
import { routeFor } from 'helpers/route'

export default {
  name: 'UserSettingsGroupsContent',
  components: {
    SmartList,
    ObjectListItem
  },
  mixins: [PageContentable, Requestable],
  data () {
    return {
      groups: undefined
    }
  },
  watch: {
    value: {
      handler () {
        this.groups = undefined
        if (this.value) {
          this.request(
            { method: Request.GET, url: this.$apiEndpoints.userSettings.groups(this.value.id) },
            null, null, true, true
          )
        }
      },
      deep: true,
      immediate: true
    }
  },
  methods: {
    ...{ routeFor },
    onRequestSuccess (data) {
      this.groups = data
    },
    onRequestError (error) {
      console.log('get data error:')
      console.log(error)
    }
  }
}
</script>
<template>
  <smart-list
    v-slot="{ item }"
    :value="groups"
    :loading="requestableLoading"
    empty-list-message="Dieser Nutzer ist keiner Gruppe zugeordnet."
  >
    <object-list-item
      :value="{
        title: item.name,
        subtitleElements: [`${item.userCount} Nutzer`, `${item.workflowDefinitionCount} Maßnahmevorlagen`]
      }"
      :to="routeFor('group', item.id)"
      indent
      :dense="false"
      divider
    />
  </smart-list>
</template>
