<script>
import { PageContentable } from '../page'
import Breadcrumbs from 'components/breadcrumbs'
import PageDetailHeader from 'components/page-detail-header'
import KebabMenu from 'components/kebab-menu'
import CustomDialog from 'components/custom-dialog'
import Request from 'api/request'
import Group from 'mixins/models/group'
import TextControl from 'controls/text-control'
import RichtextareaControl from 'controls/richtextarea-control'
import UsersControl from 'controls/users-control'
import ObjectsControl from 'controls/objects-control'
import ObjectListItem from 'list-items/object-list-item'
import { routeFor } from 'helpers/route'

export default {
  name: 'GroupEditContent',
  components: {
    Breadcrumbs,
    PageDetailHeader,
    KebabMenu,
    CustomDialog,
    TextControl,
    RichtextareaControl,
    UsersControl,
    ObjectsControl,
    ObjectListItem
  },
  mixins: [PageContentable, Group],
  inject: {
    helper: {
      default: {
        Request
      }
    }
  },
  computed: {
    group () {
      return this.value
    }
  },
  methods: {
    ...{ routeFor },
    onUpdated (value) {
      this.$emit('input', value)
    },
    onDeleted () {
      this.$router.replace({ name: 'groups' })
    }
  }
}
</script>
<template>
  <div v-if="value">
    <breadcrumbs :items="groupBreadcrumbs" />

    <page-detail-header
      :state-text="groupStateText"
      :state-updated-at="groupStateUpdatedAtDate"
      :state-color="groupStateColor.background"
      :has-left-sidebar="hasLeftSidebar"
      :has-right-sidebar="hasRightSidebar"
      @open-sidebar="$emit('open-sidebar', $event)"
    >
      <template #actions="{actionRequest, loading}">
        <kebab-menu
          :disabled="loading || !$config.current_user.isAdmin"
          color="primary"
        >
          <template #items="{ closeMenu }">
            <custom-dialog
              :title="$t('group.deleteDialog.title')"
              :text="$t('group.deleteDialog.text')"
              :ok-btn-text="$t('group.deleteDialog.buttonOk')"
              ok-btn-color="error"
              @click-ok="actionRequest($apiEndpoints.groups.destroy(value.id), onDeleted, helper.Request.DELETE)"
              @open="closeMenu"
            >
              <template #activator="{ on }">
                <v-list-item v-on="on">
                  <v-list-item-title>{{ $t('group.detailActions.delete') }}</v-list-item-title>
                </v-list-item>
              </template>
            </custom-dialog>
          </template>
        </kebab-menu>
      </template>
    </page-detail-header>

    <h1 class="text-h4 font-weight-light mb-4">
      {{ value.name }}
    </h1>

    <text-control
      v-model="value.name"
      label="Name"
      :request-parameter="{method: 'patch', url: $apiEndpoints.groups.update(value.id), mapping: 'name'}"
      class="mb-5"
      :readonly="!$config.current_user.isAdmin"
      @request-success-data="onUpdated"
    />

    <richtextarea-control
      v-model="value.description"
      label="Beschreibung"
      :request-parameter="{method: 'patch', url: $apiEndpoints.groups.update(value.id), mapping: 'description'}"
      class="mb-5"
      :readonly="!$config.current_user.isAdmin"
      @request-success-data="onUpdated"
    />

    <users-control
      v-model="value.users"
      label="Nutzerauswahl"
      :update-request-parameter="{method: 'patch', url: $apiEndpoints.groups.update(value.id), mapping: 'user_ids'}"
      :list-request-parameter="{method: 'get', url: $apiEndpoints.users.list()}"
      :to="(item) => { return routeFor($config.current_user.isAdmin ? 'user_settings' : 'user', item.id) }"
      class="mb-5"
      :readonly="!$config.current_user.isAdmin"
      @request-success-data="onUpdated"
    />

    <objects-control
      v-model="value.workflowDefinitions"
      label="Maßnahmevorlagenauswahl"
      :update-request-parameter="{method: 'patch', url: $apiEndpoints.groups.update(value.id), mapping: 'workflow_definition_ids'}"
      :list-request-parameter="{method: 'get', url: $apiEndpoints.workflowDefinitions.list()}"
      :readonly="!$config.current_user.isAdmin"
      @request-success-data="onUpdated"
    >
      <template #list-item="{item, indent, itemLink, selectable, selected, toggleElement}">
        <object-list-item
          :key="item.id"
          :indent="indent"
          :item-link="itemLink"
          :selectable="selectable"
          :selected="selected"
          :skeleton="item.skeleton"
          :value="{
            id: item.id,
            title: item.name,
            subtitleElements: [item.description]
          }"
          @click="toggleElement ? toggleElement(item) : {}"
        />
      </template>
    </objects-control>
  </div>
</template>
