<script>
export default {
  name: 'WorkflowDefinitionListItem',
  props: {
    value: {
      type: Object,
      required: true
    },
    to: {
      type: [String, Object],
      default: undefined
    }
  }
}
</script>
<template>
  <v-list-item
    two-line
    :to="to"
    @click="$emit('click', value)"
  >
    <v-list-item-content>
      <v-list-item-title>{{ value.name }}</v-list-item-title>
      <v-list-item-subtitle>
        {{ value.description }}
      </v-list-item-subtitle>
    </v-list-item-content>
  </v-list-item>
</template>
