<script>
import { distanceDate } from 'helpers/date'
import Requestable from 'mixins/requestable'
import Request from 'api/request'

export default {
  name: 'PageDetailHeader',
  mixins: [Requestable],
  props: {
    stateText: {
      type: String,
      required: true
    },
    stateColor: {
      type: String,
      required: true
    },
    stateUpdatedAt: {
      type: Date,
      required: true
    },
    commentsCount: {
      type: Number,
      default: undefined
    },
    hasLeftSidebar: {
      type: Boolean,
      required: true
    },
    hasRightSidebar: {
      type: Boolean,
      required: true
    }
  },
  data () {
    return {
      onSuccessCallback: null
    }
  },
  computed: {
    stateUpdatedAtDistance () {
      return distanceDate(this.stateUpdatedAt)
    }
  },
  methods: {
    actionRequest (url, onSuccess = null, method = Request.PATCH, params = null, payload = null, useCancelToken = false) {
      if (!this.requestableLoading && Request.METHODS.indexOf(method) !== -1) {
        this.onSuccessCallback = onSuccess
        this.request({ method: method, url: url }, params, payload, useCancelToken)
      }
    },
    onRequestSuccess (data) {
      if (this.onSuccessCallback) this.onSuccessCallback(data)
    }
  }
}
</script>
<template>
  <div class="mb-3 mb-lg-7">
    <div
      style="position: relative;"
      :class="{'error--text': hasError}"
    >
      <v-divider />
      <v-input
        :error-messages="errorMessage"
        error-count="5"
        class="page-detail-header align-center"
      >
        <v-chip
          :color="stateColor"
          class="white--text"
          label
        >
          {{ stateText }}
        </v-chip>

        <span class="ml-2 text--secondary hidden-xs-only">{{ stateUpdatedAtDistance }}</span>

        <span
          v-if="commentsCount"
          class="ml-1 text--secondary hidden-xs-only"
        >
          • <a
            class="u-text-decoration-0"
            @click="$emit('comment-count-click')"
          >{{ commentsCount }} Kommentare</a>
        </span>

        <template #append>
          <slot
            name="actions"
            :action-request="actionRequest"
            :loading="requestableLoading"
          />
        </template>
      </v-input>
      <v-progress-linear
        v-if="requestableLoading"
        absolute
        bottom
        height="2"
        indeterminate
      />
      <v-divider :class="{'inherit-boder-color': hasError && !requestableLoading}" />
    </div>

    <div
      class="d-lg-none mt-2"
      style="height: 28px"
    >
      <v-btn
        v-if="hasLeftSidebar"
        small
        absolute
        style="left: 0; border-top-left-radius: 0; border-bottom-left-radius: 0;"
        @click="$emit('open-sidebar', 'left')"
      >
        <v-icon>mdi-chevron-double-right</v-icon>
      </v-btn>

      <v-btn
        v-if="hasRightSidebar"
        small
        absolute
        style="right: 0; border-top-right-radius: 0; border-bottom-right-radius: 0;"
        @click="$emit('open-sidebar', 'right')"
      >
        <v-icon>mdi-chevron-double-left</v-icon>
      </v-btn>
    </div>
  </div>
</template>
<style>
    .inherit-boder-color {
        border-color: inherit !important;
    }
    .page-detail-header > .v-input__control > .v-input__slot {
        margin-top: 8px;
    }
    .page-detail-header:not(.v-input--has-state) > .v-input__control > .v-messages {
        display: none;
    }
</style>
