<script>
export default {
  name: 'SiteFooter'
}
</script>
<template>
  <v-bottom-navigation
    v-if="($route.name === 'sign-in-page' || $route.name === 'static-page') && $config.menus.footer_menu"
    app
    grow
  >
    <v-btn
      v-for="(entry, index) in $config.menus.footer_menu"
      :key="index"
      :to="{ name: 'static-page', params: { slug: entry.slug }}"
      text
    >
      {{ entry.title }}
    </v-btn>
  </v-bottom-navigation>
</template>
