<script>
import { PageContentable } from '../page'
import UsersControl from 'controls/users-control'

export default {
  name: 'AmbitionEditSidebarRight',
  components: { UsersControl },
  mixins: [PageContentable],
  methods: {
    onUpdated (value) {
      this.$emit('input', value)
    }
  }
}
</script>
<template>
  <div v-if="value">
    <users-control
      v-model="value.assignee"
      :update-request-parameter="{method: 'patch', url: $apiEndpoints.ambitions.updateAssignee(value.id), mapping: 'assignee'}"
      :list-request-parameter="{method: 'get', url: $apiEndpoints.users.list()}"
      :disabled="value.closed"
      label="Verantwortlicher"
      success-message=""
      single
      indent
      sidebar
      @request-success-data="onUpdated"
    />
    <v-divider />

    <users-control
      v-model="value.contributors"
      :update-request-parameter="{method: 'patch', url: $apiEndpoints.ambitions.updateContributors(value.id), mapping: 'contributors'}"
      :list-request-parameter="{method: 'get', url: $apiEndpoints.users.list()}"
      :disabled="value.closed"
      label="Teilnehmer"
      success-message=""
      avatar-list-item
      indent
      sidebar
      @request-success-data="onUpdated"
    />
    <v-divider />
  </div>
</template>
