<script>
import { PageContentable } from '../page'
import TextControl from 'controls/text-control'
import TextareaControl from 'controls/textarea-control'
import SelectionControl from 'controls/selection-control'
import DossierFieldsControl from 'controls/dossier-fields-control'
import ActivityHub from 'components/activity-hub'

export default {
  name: 'DossierDefinitionEditMainContent',
  components: {
    TextControl,
    TextareaControl,
    SelectionControl,
    DossierFieldsControl,
    ActivityHub
  },
  mixins: [PageContentable],
  computed: {
    dossierDefinition () {
      return this.value
    }
  },
  methods: {
    onUpdated (value) {
      this.$emit('input', value)
    }
  }
}
</script>
<template>
  <div v-if="value">
    <text-control
      v-model="value.name"
      label="Name"
      :request-parameter="{method: 'patch', url: $apiEndpoints.dossierDefinitions.update(value.id), mapping: 'name'}"
      class="mb-5"
      @request-success-data="onUpdated"
    />

    <textarea-control
      v-model="value.description"
      label="Beschreibung"
      :request-parameter="{method: 'patch', url: $apiEndpoints.dossierDefinitions.update(value.id), mapping: 'description'}"
      class="mb-5"
      @request-success-data="onUpdated"
    />

    <selection-control
      v-model="value.titleFields"
      label="Datenfelder für den Titel"
      :options="{ items: value.fields, multiple: true }"
      item-text="name"
      item-value="id"
      :deletable-chips="false"
      sortable-chips
      :hint="$t('general.sortableHint')"
      persistent-hint
      :request-parameter="{method: 'patch', url: $apiEndpoints.dossierDefinitions.update(value.id), mapping: 'title_fields'}"
      class="mb-5"
      @request-success-data="onUpdated"
    />

    <selection-control
      v-model="value.subtitleFields"
      label="Datenfelder für den Subtitel"
      :options="{ items: value.fields, multiple: true }"
      item-text="name"
      item-value="id"
      :deletable-chips="false"
      sortable-chips
      :hint="$t('general.sortableHint')"
      persistent-hint
      :request-parameter="{method: 'patch', url: $apiEndpoints.dossierDefinitions.update(value.id), mapping: 'subtitle_fields'}"
      class="mb-5"
      @request-success-data="onUpdated"
    />

    <dossier-fields-control
      v-model="value.fields"
      :dossier-definition-id="value.id"
      label="Datenfelder"
      class="mb-5"
      @change="onUpdated"
    />

    <activity-hub
      :gid="dossierDefinition.gid"
      :groups="dossierDefinition.groups"
      class="mt-12"
    />
  </div>
</template>
