<script>
import { PageContentable } from '../page'
import SmartList from 'components/smart-list'
import AmbitionListItem from 'list-items/ambition-list-item'
import WorkflowListItem from 'list-items/workflow-list-item'
import TaskListItem from 'list-items/task-list-item'
import DossierListItem from 'list-items/dossier-list-item'
import { routeFor } from 'helpers/route'

export default {
  name: 'SearchListContent',
  components: { SmartList, AmbitionListItem, WorkflowListItem, TaskListItem, DossierListItem },
  mixins: [PageContentable],
  props: {
    filter: {
      type: Object,
      default: null
    }
  },
  computed: {
    results () {
      return this.value ? this.value.results : undefined
    },
    queryTerm () {
      return this.value ? this.value.queryTerm : undefined
    },
    totalPages () {
      return this.value ? this.value.total_pages : 1
    }
  },
  methods: {
    ...{ routeFor },
    listItemType (type) {
      switch (type) {
        case 'ambition': return AmbitionListItem
        case 'workflow': return WorkflowListItem
        case 'task': return TaskListItem
        case 'dossier': return DossierListItem
        default: return null
      }
    }
  }
}
</script>
<template>
  <div>
    <div class="mt-4">
      <h1 class="text-h4 font-weight-light pt-1">
        Suche
      </h1>

      <div v-if="!pageRequestLoading && value">
        <div v-if="(value.searchedWithMisspellingsDueToLowResultCount && results.length > 0) || (value.suggestion)">
          <v-alert
            type="info"
            text
            class="mt-6"
          >
            <p v-if="value.searchedWithMisspellingsDueToLowResultCount && results.length > 0">
              Für Ihre Suche nach
              "{{ queryTerm }}"
              gab es nur wenige exakte Treffer. Es werden daher auch ähnliche Ergebnisse angezeigt.
            </p>
            <p v-if="value.suggestion">
              Meinten Sie:
              <router-link :to="{ name: 'search', params: { query: value.suggestion } }">
                {{ value.suggestion }}
              </router-link>
              ?
            </p>
          </v-alert>
        </div>
      </div>
    </div>

    <smart-list
      id="search-results"
      v-slot="{ item }"
      :value="results"
      :loading="pageRequestLoading"
      :empty-list-message="`Für Ihre Suche nach \x22${queryTerm}\x22 gibt es leider keine Ergebnisse.`"
    >
      <component
        :is="listItemType(item.type)"
        v-if="listItemType(item.type)"
        :value="item.object"
        :to="routeFor(item.type, item.object.id)"
        ident
        :dense="false"
        divider
      >
        <template
          v-if="item.highlights"
          #snippets
        >
          <div
            v-for="(highlight, h_index) in item.highlights"
            :key="h_index"
            class="search-result-highlights"
          >
            <div class="overline font-weight-bold text&#45;&#45;primary">
              {{ highlight.key }}
            </div>
            <!-- eslint-disable vue/no-v-html -->
            <div
              v-for="(value, f_index) in highlight.fragments"
              :key="f_index"
              v-html="value"
            />
            <!-- eslint-enable vue/no-v-html -->
          </div>
        </template>
      </component>
    </smart-list>

    <v-pagination
      v-if="!pageRequestLoading && results && totalPages > 1"
      :value="filter.page"
      :length="totalPages"
      circle
      class="mt-6"
      @input="$emit('update:prop', { prop: 'filter', value: $event, info: 'page' })"
    />
  </div>
</template>
