<script>
import ActivityHubItemChunks from '../activity-hub/activity-hub-item-chunks'
import RichtextareaContent from 'components/richtextarea-content'
import Avatar from 'components/avatar'
import { routeFor } from 'helpers/route'

export default {
  name: 'StandaloneEvent',
  components: { Avatar, ActivityHubItemChunks, RichtextareaContent },
  props: {
    event: { type: Object, required: true }
  },
  computed: {
    isCommentEvent () {
      return this.event.action === 'commented'
    }
  },
  methods: {
    ...{ routeFor }
  }
}
</script>
<template>
  <div class="d-flex align-center flex-grow-1">
    <router-link
      style="text-decoration: none;"
      class="d-flex align-center flex-grow-1"
      :to="routeFor(event.target.object_type, event.target.object_id, { query: { event: event.target.event }, hash:
        event.target.hash })"
      title="Öffnen"
      @click="close()"
    >
      <div class="mr-4">
        <v-icon
          v-if="event.avatar.icon"
          color="grey lighten-1"
        >
          {{ event.avatar.icon }}
        </v-icon>
        <avatar
          v-else
          :text="event.avatar.label"
          :image="event.avatar.url"
        />
      </div>
      <v-card
        v-if="isCommentEvent"
        class="elevation-1 flex-grow-1"
      >
        <v-card-title class="d-block text-body-2 text--secondary">
          <activity-hub-item-chunks :value="event.chunks" />
        </v-card-title>

        <v-card-text class="text--primary">
          <richtextarea-content :template="event.payload" />
        </v-card-text>
      </v-card>

      <div
        v-else
        class="text-body-2 text--secondary flex-grow-1"
      >
        <activity-hub-item-chunks :value="event.chunks" />
      </div>
    </router-link>

    <div
      v-if="$scopedSlots.actions"
      class="ml-2"
    >
      <slot name="actions" />
    </div>
  </div>
</template>
