<script>
import Requestable from 'mixins/requestable'
import Request from 'api/request'

export default {
  name: 'UserInfo',
  mixins: [Requestable],
  data () {
    return {
      countNewNotifications: '?',
      countOpenUserAssignedTasks: '?',
      hasDueOpenUserAssignedTasks: false
    }
  },
  channels: {
    UserChannel: {
      connected () { console.log('connected to UserChannel via vue') },
      rejected () {},
      received (data) {
        this.countNewNotifications = data.count_new_notifications
        this.countOpenUserAssignedTasks = data.count_open_user_assigned_tasks
        this.hasDueOpenUserAssignedTasks = data.has_due_open_user_assigned_tasks
      },
      disconnected () {}
    }
  },
  computed: {
    userAssignedOpenTaskCountBadgeColor () {
      return this.hasDueOpenUserAssignedTasks ? 'error' : 'primary'
    }
  },
  mounted () {
    this.$cable.subscribe({
      channel: 'UserChannel'
    })
  },
  created () {
    this.request({ method: Request.GET, url: this.$apiEndpoints.users.info() },
      null, null, true)
  },
  methods: {
    onRequestSuccess (data) {
      this.countNewNotifications = data.count_new_notifications
      this.countOpenUserAssignedTasks = data.count_open_user_assigned_tasks
      this.hasDueOpenUserAssignedTasks = data.has_due_open_user_assigned_tasks
    },
    onRequestError (error) {
      this.countNewNotifications = '?'
      this.countOpenUserAssignedTasks = '?'
      this.hasDueOpenUserAssignedTasks = false
      console.log('get data error:')
      console.log(error)
    }
  }
}
</script>
<template>
  <div class="d-flex">
    <v-btn
      id="user-notifications-button"
      :to="{ name: 'notifications' }"
      class="user-info-btn mr-4"
      icon
    >
      <v-badge
        v-if="countNewNotifications > 0"
        offset-x="5"
        offset-y="10"
      >
        <template #badge>
          <span>{{ countNewNotifications }}</span>
        </template>
        <v-icon>mdi-bell</v-icon>
      </v-badge>
      <v-icon v-else>
        mdi-bell
      </v-icon>
    </v-btn>

    <v-btn
      id="user-tasks-button"
      icon
      class="user-info-btn"
      :to="{ name: 'tasks', query: { assignee_ids: [$config.current_user.id], order: 'by_due_date' } }"
      exact
    >
      <v-badge
        v-if="countOpenUserAssignedTasks > 0"
        :color="userAssignedOpenTaskCountBadgeColor"
        offset-x="5"
        offset-y="10"
      >
        <template #badge>
          <span>{{ countOpenUserAssignedTasks }}</span>
        </template>
        <v-icon>mdi-account</v-icon>
      </v-badge>
      <v-icon v-else>
        mdi-account
      </v-icon>
    </v-btn>
  </div>
</template>
<style>
  .v-btn.user-info-btn > span.v-btn__content {
    margin-bottom: -5px;
  }
</style>
