<script>
import Requestable, { requestablePropFactory } from 'mixins/requestable'
import CustomDialog from 'components/custom-dialog'

export default {
  name: 'CloneTaskDialog',
  components: { CustomDialog },
  mixins: [Requestable],
  props: {
    ...requestablePropFactory().props,
    taskName: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      dialogOpen: false
    }
  },
  methods: {
    onDialogOpened () {
      this.resetRequestable()

      this.$emit('open')
    },
    onRequestSuccess (data) {
      this.dialogOpen = false

      if (data) {
        this.$emit('request-success-data', data)
      }
    }
  }
}
</script>
<template>
  <custom-dialog
    v-model="dialogOpen"
    :title="$t('task.cloneDialog.title')"
    :ok-btn-text="$t('task.cloneDialog.buttonOk')"
    :close-on-button-click="false"
    :loading="requestableLoading"
    :error-message="baseErrorMessage"
    @click-ok="request(requestParameter, null)"
    @click-cancel="dialogOpen = false"
    @open="onDialogOpened"
  >
    <template
      v-if="$scopedSlots.activator"
      #activator="{ on }"
    >
      <slot
        name="activator"
        :on="on"
      />
    </template>
    <i18n path="task.cloneDialog.text">
      <template #name>
        <b>"{{ taskName }}"</b>
      </template>
    </i18n>
  </custom-dialog>
</template>
