<script>
import Requestable, { requestablePropFactory } from 'mixins/requestable'
import CustomDialog from 'components/custom-dialog'
import cloneDeep from 'lodash/cloneDeep'

export default {
  name: 'EditDataFieldDialog',
  components: { CustomDialog },
  mixins: [Requestable],
  props: {
    ...requestablePropFactory().props,
    value: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      dialogOpen: false,
      internalValue: undefined
    }
  },
  computed: {
    canSubmitData () {
      return !!this.internalValue && (
        this.internalValue.name !== this.value.name || this.internalValue.required !== this.value.required ||
              this.internalValue.infobox !== this.value.infobox) &&
          this.internalValue.name.trim().length > 0
    },
    requestData () {
      const result = { content_item: {}, task_item: {} }

      if (!this.internalValue) return {}

      if (this.internalValue.name !== this.value.name) result.content_item.label = this.internalValue.name
      if (this.internalValue.required !== this.value.required) result.task_item.required = this.internalValue.required
      if (this.internalValue.infobox !== this.value.infobox) result.task_item.info_box = this.internalValue.infobox

      return result
    }
  },
  methods: {
    onDialogOpened () {
      this.internalValue = cloneDeep(this.value)
      this.resetRequestable()

      this.$emit('open')
    },
    onRequestSuccess (data) {
      this.dialogOpen = false

      if (data) {
        this.$emit('request-success-data', data)
      }
    }
  }
}
</script>
<template>
  <custom-dialog
    v-model="dialogOpen"
    title="Datenfeld bearbeiten"
    fullheight
    :close-on-button-click="false"
    :ok-btn-disabled="!canSubmitData"
    :loading="requestableLoading"
    :error-message="baseErrorMessage"
    @click-ok="request(requestParameter, null, requestData)"
    @click-cancel="dialogOpen = false"
    @open="onDialogOpened"
  >
    <template
      v-if="$scopedSlots.activator"
      #activator="{ on }"
    >
      <slot
        name="activator"
        :on="on"
      />
    </template>
    <template v-if="internalValue">
      <v-text-field
        v-model="internalValue.name"
        label="Name des Datenfeldes"
        :hint="$t('general.field.required')"
        persistent-hint
        :disabled="requestableLoading"
        :error-messages="validationErrorMessageFor('label')"
        :error-count="Number.MAX_VALUE"
        class="mb-5"
      />
      <v-switch
        v-model="internalValue.infobox"
        label="Als nicht bearbeitbares Informationsfeld anzeigen"
        :disabled="requestableLoading"
        :error-messages="validationErrorMessageFor('info_box')"
        :error-count="Number.MAX_VALUE"
        class="mb-1"
        @change="$event ? internalValue.required = false : undefined"
      />
      <v-switch
        v-model="internalValue.required"
        label="Erforderlich zum Abschließen der Aufgabe"
        :disabled="requestableLoading"
        :error-messages="validationErrorMessageFor('required')"
        :error-count="Number.MAX_VALUE"
        class="mt-1"
        @change="$event ? internalValue.infobox = false : undefined"
      />
    </template>
  </custom-dialog>
</template>
