<script>
import { PageContentable } from '../page'
import { ListPageContentable } from '../list-page'
import DataListFilter from 'components/data-list/filter'
import SmartList from 'components/smart-list'
import KebabMenu from 'components/kebab-menu'
import WorkflowListItem from 'list-items/workflow-list-item'
import CreateWorkflowDialog from 'dialogs/create-workflow-dialog'
import { routeFor, exportUrlFor } from 'helpers/route'

export default {
  name: 'WorkflowListContent',
  components: {
    DataListFilter,
    SmartList,
    WorkflowListItem,
    CreateWorkflowDialog,
    KebabMenu
  },
  mixins: [PageContentable, ListPageContentable],
  computed: {
    result () {
      return this.value ? this.value.result : undefined
    }
  },
  methods: {
    ...{ routeFor, exportUrlFor },
    onWorkflowCreated (workflow) {
      if (workflow.nextStep) {
        this.$router.push(routeFor(workflow.nextStep.type, workflow.nextStep.id))
      } else {
        this.$router.push(routeFor('workflow', workflow.id))
      }
    }
  }
}
</script>
<template>
  <div>
    <div
      class="d-flex align-end mt-4"
      style="position: relative"
    >
      <h1 class="text-h4 font-weight-light pt-1 flex-grow-1">
        Maßnahmen
      </h1>

      <create-workflow-dialog
        @success="onWorkflowCreated"
      >
        <template #activator="{ on }">
          <v-btn
            color="primary"
            text
            v-on="on"
          >
            {{ $t('workflow.actions.create') }}
          </v-btn>
        </template>
      </create-workflow-dialog>

      <kebab-menu
        color="primary"
      >
        <template #items>
          <v-list-item :href="exportUrlFor(pageRequestParameter.url, pageRequestParameter.params)">
            <v-list-item-title>{{ $t('workflow.actions.export') }}</v-list-item-title>
          </v-list-item>
        </template>
      </kebab-menu>
    </div>

    <data-list-filter
      v-model="filters"
      @update:filter="$emit('update:prop', { prop: 'filters', value: $event.value, info: $event.field })"
    />

    <smart-list
      v-slot="{ item }"
      :value="result"
      :loading="pageRequestLoading"
    >
      <workflow-list-item
        :value="item"
        :to="routeFor('workflow', item.id)"
        indent
        :dense="false"
        divider
      />
    </smart-list>

    <v-pagination
      v-if="!pageRequestLoading && result && pages.total() > 1"
      v-model="pages.current"
      :length="pages.total()"
      circle
      class="mt-6"
      @input="$emit('update:prop', { prop: 'pages', value: pages })"
    />
  </div>
</template>
