<script>
import Requestable, { requestablePropFactory } from 'mixins/requestable'
import ResetBtn from 'components/reset-btn'
import CopyToClipboardBtn from 'components/copy-to-clipboard-btn'
import Cacheable from 'mixins/cacheable'
import Controlable from 'mixins/controlable'
import defaults from 'lodash/defaults'

export default {
  name: 'TextControl',
  components: {
    ResetBtn,
    CopyToClipboardBtn
  },
  mixins: [Requestable, Cacheable, Controlable],
  props: {
    ...requestablePropFactory().props,
    value: {
      type: String,
      default: undefined
    }
  },
  computed: {
    internalOptions () {
      return defaults({}, this.options, {
        type: 'text'
      })
    },
    isTypeText () {
      return this.internalOptions.type === 'text'
    },
    isTypePassword () {
      return this.internalOptions.type === 'password'
    },
    isTypeEmail () {
      return this.internalOptions.type === 'email'
    },
    isTypeUrl () {
      return this.internalOptions.type === 'url'
    },
    autocomplete () {
      return this.isTypePassword ? 'new-password' : undefined
    },
    hasErrorOrEmpty () {
      return !this.cacheValue || (this.$refs.component !== undefined && this.$refs.component.hasError)
    },
    link () {
      if (this.isTypeUrl) {
        if (!/^https?:\/\//i.test(this.cacheValue)) {
          return 'http://' + this.cacheValue
        } else {
          return this.cacheValue
        }
      } else if (this.isTypeEmail) {
        return `mailto:${this.cacheValue}`
      }

      return undefined
    }
  },
  methods: {
    onRequestSuccess (data) {
      this.controlShowSuccessMessage()
      this.$emit('input', this.cacheValue)

      if (data) {
        this.$emit('request-success-data', data)
      }
    }
  }
}
</script>

<template>
  <v-text-field
    ref="component"
    v-model="cacheValue"
    :label="label"
    :type="internalOptions.type"
    :loading="controlLoading"
    :disabled="controlDisabled"
    :class="controlClass"
    :error-count="Number.MAX_VALUE"
    :error-messages="controlErrorMessages"
    :hint="controlHint"
    :persistent-hint="controlPersistentHint"
    :success-messages="controlSuccessMessage"
    :autocomplete="autocomplete"
    @blur="controlOnBlur(); controlOnChange()"
    @input="controlOnInput"
    @focus="controlOnFocus"
  >
    <template #append>
      <reset-btn
        v-if="cachedValueChanged && controlHasError"
        @click="controlReset"
      />
      <copy-to-clipboard-btn
        v-if="!isTypePassword && cacheValue"
        :value="{'text/plain': cacheValue}"
      />
    </template>

    <template
      v-if="isTypeUrl || isTypeEmail"
      #append-outer
    >
      <v-tooltip top>
        <template #activator="{ on, attrs }">
          <v-btn
            v-bind="attrs"
            :disabled="hasErrorOrEmpty"
            icon
            :href="link"
            target="_blank"
            v-on="on"
          >
            <v-icon v-if="isTypeUrl">
              mdi-open-in-new
            </v-icon>
            <v-icon v-else-if="isTypeEmail">
              mdi-email-edit-outline
            </v-icon>
          </v-btn>
        </template>
        <span v-if="isTypeUrl">Link öffnen</span>
        <span v-else-if="isTypeEmail">E-Mail verfassen</span>
      </v-tooltip>
    </template>
  </v-text-field>
</template>
