/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "vue/general";
@import "vue/object-links";
@import "vue/vue-custom-styles";
@import "vue/custom-object-control";
@import "vue/custom-input-control-styles";
@import "vue/support-infobox";
@import "vue/control";

// Referencing a User
.tippy-tooltip {
  text-align: left;
  .suggestion-list__item {
    padding: 3px;
  }
  .suggestion-list__item.is-selected,
  .suggestion-list__item:hover {
    background-color:hsla(0,0%,100%,.2)
  }
}
