<script>
import Avatar from 'components/avatar'
import ActivityHubItemChunks from './activity-hub-item-chunks'
import RichtextareaContent from 'components/richtextarea-content'

export default {
  name: 'ActivityHubItem',
  components: { Avatar, ActivityHubItemChunks, RichtextareaContent },
  props: {
    event: { type: Object, required: true },
    unread: { type: Boolean, required: false }
  },
  computed: {
    isCommentEvent () {
      return this.event.action === 'commented'
    },
    timelineItemClass () {
      return this.event.action === 'commented' ? 'activity-hub-item-comment' : 'activity-hub-item-event'
    },
    timelineItemId () {
      return `timeline-item-${this.event.action}-${this.event.id}`
    }
  }
}
</script>
<template>
  <v-timeline-item
    :id="timelineItemId"
    class="d-flex align-center"
    :class="timelineItemClass"
    color="grey lighten-4"
    fill-dot
  >
    <template #icon>
      <v-icon
        v-if="event.avatar.icon"
        color="grey lighten-1"
      >
        {{ event.avatar.icon }}
      </v-icon>
      <avatar
        v-else
        :text="event.avatar.label"
        :image="event.avatar.url"
      />
    </template>

    <div class="d-flex align-center flex-grow-1">
      <div
        v-if="unread"
        style="position: absolute; margin-left: -20px; width: 6px; height: 6px; border-radius: 3px; background-color: #1565C0; box-shadow: 0 0 2px 1px #1565C0; z-index: 1"
        title="Ungelesen"
      />
      <v-card
        v-if="isCommentEvent"
        class="elevation-1 flex-grow-1"
      >
        <v-card-title class="d-block text-body-2 text--secondary">
          <activity-hub-item-chunks :value="event.chunks" />
        </v-card-title>

        <v-card-text class="text--primary">
          <richtextarea-content :template="event.payload" />
        </v-card-text>
      </v-card>

      <div
        v-else
        class="text-body-2 text--secondary flex-grow-1"
      >
        <activity-hub-item-chunks :value="event.chunks" />
      </div>

      <div
        v-if="$scopedSlots.actions"
        class="ml-2"
      >
        <slot name="actions" />
      </div>
    </div>
  </v-timeline-item>
</template>
<style>
.activity-hub-item-comment .v-timeline-item__body {
  display: flex;
  align-items: center;
}
</style>
