<script>
import Vue from 'vue'
import Requestable from 'mixins/requestable'
import Request from 'api/request'
import Avatar from 'components/avatar'
import ActivityHubCommentEditor from './activity-hub-comment-editor'
import ActivityHubItem from './activity-hub-item'
import filter from 'lodash/filter'

export default {
  name: 'ActivityHub',
  components: { Avatar, ActivityHubCommentEditor, ActivityHubItem },
  props: {
    gid: {
      type: String,
      required: true
    },
    groups: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      selectedTab: undefined,
      lastSelectedTab: 0,
      currentComment: null,
      events: [],
      loadEventsRequestable: new (Vue.extend(Requestable))({
        methods: {
          onRequestSuccess: (data) => {
            this.events = data
          }
        }
      }),
      createCommentRequestable: new (Vue.extend(Requestable))({
        methods: {
          onRequestSuccess: (data) => {
            this.currentComment = null
            this.events = data.events

            this.$emit('comment-created', data)
          }
        }
      })
    }
  },
  computed: {
    allEvents () {
      return this.events ? this.events : []
    },
    commentEvents () {
      return filter(this.allEvents, (e) => e.action === 'commented')
    },
    otherEvents () {
      return filter(this.allEvents, (e) => e.action !== 'commented')
    },
    selectedEvents () {
      switch (this.selectedTab) {
        case 0:
          return this.commentEvents
        case 1:
          return this.otherEvents
        case 2:
          return this.allEvents
        default:
          return []
      }
    }
  },
  watch: {
    gid: {
      handler () {
        this.loadEventsRequestable.request(
          { method: Request.GET, url: this.$apiEndpoints.events.index() },
          { object_gid: this.gid }, null, true, true)
      },
      immediate: true
    },
    'loadEventsRequestable.requestableLoading': {
      handler () {
        if (this.loadEventsRequestable.requestableLoading) {
          this.lastSelectedTab = this.selectedTab
          this.selectedTab = undefined
        } else {
          this.selectedTab = this.lastSelectedTab
        }
      }
    }
  },
  methods: {
    createComment () {
      this.createCommentRequestable.request(
        { method: Request.POST, url: this.$apiEndpoints.events.createComment(), mapping: 'message' },
        { object_gid: this.gid }, this.currentComment)
    },
    scrollToAndShowComments () {
      this.selectedTab = 0
      this.$vuetify.goTo(this, {})
    }
  }
}
</script>
<template>
  <div class="activity-hub">
    <v-tabs
      v-model="selectedTab"
      :hide-slider="loadEventsRequestable.requestableLoading"
    >
      <v-tab :disabled="loadEventsRequestable.requestableLoading || createCommentRequestable.requestableLoading">
        DISKUSSION
        <v-badge
          v-if="!loadEventsRequestable.requestableLoading"
          class="ml-1"
          :color="selectedTab === 0 ? 'primary' : 'grey lighten-1'"
          :content="commentEvents.length.toString()"
          dense
          inline
        />
      </v-tab>
      <v-tab :disabled="loadEventsRequestable.requestableLoading || createCommentRequestable.requestableLoading">
        HISTORIE
        <v-badge
          v-if="!loadEventsRequestable.requestableLoading"
          class="ml-1"
          :color="selectedTab === 1 ? 'primary' : 'grey lighten-1'"
          :content="otherEvents.length.toString()"
          dense
          inline
        />
      </v-tab>
      <v-tab :disabled="loadEventsRequestable.requestableLoading || createCommentRequestable.requestableLoading">
        ALLE
        <v-badge
          v-if="!loadEventsRequestable.requestableLoading"
          class="ml-1"
          :color="selectedTab === 2 ? 'primary' : 'grey lighten-1'"
          :content="events.length.toString()"
          dense
          inline
        />
      </v-tab>
    </v-tabs>
    <v-progress-linear
      v-if="loadEventsRequestable.requestableLoading"
      indeterminate
      height="2"
    />
    <v-divider class="mb-6" />

    <div
      v-if="selectedTab === 0"
      class="d-flex pa-3"
    >
      <avatar
        :text="$config.current_user.avatar.label"
        :image="$config.current_user.avatar.url"
        active
        class="mr-4"
      />

      <div class="flex-grow-1">
        <activity-hub-comment-editor
          v-model="currentComment"
          placeholder="Schreib einen Kommentar"
          :loading="createCommentRequestable.requestableLoading"
          :disabled="createCommentRequestable.requestableLoading || loadEventsRequestable.requestableLoading"
          :error-messages="createCommentRequestable.errorMessage"
          :groups="groups"
          class="mb-3"
        />

        <v-btn
          color="primary"
          depressed
          :disabled="createCommentRequestable.requestableLoading || currentComment === null"
          @click="createComment"
        >
          Kommentieren
        </v-btn>
      </div>
    </div>

    <v-timeline
      v-if="selectedEvents.length"
      class="mt-4 ml-n5 pr-4"
      dense
    >
      <activity-hub-item
        v-for="(event, index) in selectedEvents"
        :key="index"
        :event="event"
      />
    </v-timeline>
  </div>
</template>
